/* General Page Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #5dace5;
    margin: 0;
    padding: 0;
}

/* Navigation Menu */
nav ul {
    list-style-type: none;
    padding: 10px;
    text-align: center;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 2px 18px;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: white;
}
/* Container */
.container {
    width: 50%;
    margin: 30px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

/* Header */
h1 {
    text-align: center;
    color: #333;
}

/* Form Styling */
fieldset {
    border: none;
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
}

input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    display: inline-block;
    margin-right: 15px;
}

/* Button */
button {
    margin-top: 15px;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 18px;
    width: 100%;
}

button:hover {
    background-color: #45a049;
}
